body {
    margin: 0;
}
.main_menu {
    margin: 0px;
    background-color: #040425;
    display: block;
    color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main_menu ul a {
    font-size: 30px;
    color: #c7e51a;
    margin-right: 20px;
    text-decoration: none;
}
.main_menu ul a:hover{
    color: yellow;
}

#section1 {
    padding: 0px;
    height: calc(100vh - 120px);
    font-size: 37px ;
}

section {
    height: 100vh;
    padding-top: 120px;
    box-sizing: border-box;
}


#section2 {
    background-color: aqua;

}
#section3 {
    background-color: azure;
}
#section4 {
    background-color: blueviolet;
}
#section5 {
    background-color: antiquewhite;
}
#section6 {
    background-color: brown;
}

html {
    scroll-behavior: smooth;
}