body {
    margin: 0;
}
.main_menu {
    margin: 0px;
    background-color: #040425;
    display: block;
    color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    
}

.main_menu ul a {
    font-size: 30px;
    color: #c7e51a;
    margin-right: 20px;
    text-decoration: none;
}
.main_menu ul a:hover{
    color: yellow;
}

#section1 {
    padding: 0px;
    height: calc(100vh - 120px);
    font-size: 37px ;
}

section {
    padding-top: 120px;
    height: 100vh;
}


#section2 {
    position: relative;
    background-image: url('https://github.com/BohdanVaryvoda/WebWork/blob/main/web_work/img/v1_39.png?raw=true');
    background-size: cover;
    background-attachment: fixed;
}

.section2_logo {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 50px; 
}

.section2_title {
    position: absolute;
    top: 35%;
    right: 11%;
}

.section2_title p {
    color: #c9c909;
    font-size: 30px;
    font-weight: bold;
}

.section2_logo a img {
    width: 110px;
}

#section3 {
    background-color: azure;
}
#section4 {
    background-color: blueviolet;
}
#section5 {
    background-color: antiquewhite;
}
#section6 {
    background-color: brown;
}

html {
    scroll-behavior: smooth;
}section5 {
    background-color: antiquewhite;
}
#section6 {
    background-color: brown;
}

html {
    scroll-behavior: smooth;
}