
.main_menu {
    margin: 0px;
    background-color: blue;
    display: block;
    color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main_menu ul a {
    font-size: 30px;
    background-color: red;
    margin-right: 20px;
    text-decoration: none;
}

#section1, #section2, #section3, #section4, #section5, #section6 {
    height: 100vh;
    padding-top: 120px;
    box-sizing: border-box;
}

#section2 {
    background-color: aqua;

}
#section3 {
    background-color: azure;
}
#section4 {
    background-color: blueviolet;
}
#section5 {
    background-color: antiquewhite;
}
#section6 {
    background-color: brown;
}

html {
    scroll-behavior: smooth;
}